*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.debug{
  background-color: aqua;
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.s-end{
  justify-content: end;
}

header{
  width: calc(100% - 230px);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(12, 13, 15, .5);
}

header button{
  background-color: transparent;
  margin: auto 0;
  margin-right: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid white;
}

header button:hover{
  transform: scale(1.2);
}

header a{
  text-decoration: none;
  color: white;
}

.sidebar{
  background-color: #000000;
  height: calc(100vh - 90px);
  width: 230px;
}

.container-main{
  background-color: #101319;
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  padding-top: 90px;
  overflow-y: scroll;
}

footer{
  background-color: #1E1E1E;
  width: 100%;
  height: 90px;
}

@media (max-width:600px){
  .s-bar-50{
    width: 50px;
  }
  .h-m-50{
    width: calc(100% - 50px);
  }
}