*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.debug{
  background-color: aqua;
  border: 1px solid black;
}

.container-main{
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.d-flex{
  display: flex;
}

.s-end{
  justify-content: end;
}

.s-center{
  justify-content: center;
}

.s-between{
  justify-content: space-between;
}

.a-items{
  align-items: center;
}

.d-wrap{
  flex-wrap: wrap;
}

header{
  width: calc(100% - 230px);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(9, 11, 14, .8);
}

header button{
  background-color: transparent;
  margin: auto 0;
  margin-right: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid white;
}

header button:hover{
  transform: scale(1.1);
}

header a{
  text-decoration: none;
  color: white;
}

.sidebar{
  background-color: black;
  height: calc(100vh - 90px);
  width: 230px;
  padding-top: 20px;
}

.sidebar .big-logo{
  width: 150px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.sidebar .small-logo{
  display: none;
}

.sidebar .menu-sidebar{
  color: #696B71;
  list-style: none;
  vertical-align: middle;
}

.sidebar .menu-sidebar li{
  margin: 10px 0;
  padding-left: 30px;
}

.sidebar .menu-sidebar li:hover{
  border-left: 2px solid lime;
  color: white;
}

.sidebar .menu-sidebar a{
  text-decoration: none;
  color: #696B71;
  font-size: .9rem;
  font-weight: 600;
}

.menu-sidebar-mb{
  display: none;
}

.sb-svg{
  width: 30px;
}

.menu-sidebar-playlist{
  margin-top: 20px;
  padding-left: 30px;
  color: white;
}

.menu-sidebar-playlist i{
  font-size: 20px;
  background-color: #696B71; 
  color: black;
  padding: 10px;
  margin-top: 10px;
}

.menu-sidebar-playlist li{
  list-style: none;
  margin: 10px 0;
}

.menu-sidebar-playlist a{
  text-decoration: none;
  color: #696B71;
  font-size: .9rem;
  font-weight: 600;
}


.menu-sidebar-playlist a:hover{
  color: white;
}

.struttura-main{
  background-color: #101319;
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  padding-top: 90px;
  overflow-y: scroll;
}

.menu-main li{
  list-style: none;
  padding: 20px 15px;
}

.menu-main li a{
  font-weight: 600;
  font-size: .8rem;
  color: #696B71;
  text-decoration: none;
}

.menu-main li a:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid lime;
}

.container-main h2{
  color: white;
  padding-left: 10px;
  font-weight: 800;
}

.row-cards .card{
  width: calc(100% / 6);
  padding: 20px 10px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}

.row-cards .card img{
  width: 100%;
  margin-bottom: 15px;
}

.row-cards .card img:hover{
  filter: opacity(.5);
}

.row-cards .card h3,
.menu-sidebar-playlist h3{
  font-size: 14px;
  margin-bottom: 5px;
}

.container-main .subtitle{
  font-size: 11px;
  color: #696B71;
  font-weight: 600;
}

.container-main .subtitle.sub-row{
  padding-left: 10px;
}

.row-cards .radius-img{
  border-radius: 50%;
}

footer{
  background-color: #1E1E1E;
  width: 100%;
  height: 90px;
  padding: 10px;
}

footer .left img{
  width: 40px;
}

footer .center i{
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}

footer .center .long-bar{
  width: 430px;
  height: 4px;
  background-color: #474747;
  border-radius: 2px;
}

footer .center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .right .bar{
  width: 120px;
  height: 4px;
  background-color: #474747;
  border-radius: 2px;
}

@media (max-width:990px){
.tb-wrap{
  flex-wrap: wrap;
}
.row-cards .card {
  width: calc(100% / 4);
}
}

@media (max-width:780px){
  .row-cards .card {
    width: calc(100% / 2);
  }

@media (max-width:600px){
  .s-bar-50{
    width: 50px;
  }
  .h-m-50{
    width: calc(100% - 50px);
  }
  .sidebar{
    padding: 10px 10px;
    text-align: center;
  }
  .sidebar .small-logo{
    display: inline-block;
  }
  .big-logo, .menu-sidebar{
    display: none;
  }
  .sidebar .menu-sidebar li{
    padding: 0;
  }
  .sidebar .menu-sidebar li:hover{
    border-left: none;
  }
  .menu-sidebar-mb{
    display: block;
  }
  .menu-sidebar-mb li{
    margin: 10px 0;
  }
  .menu-sidebar-playlist{
    display: none;
  }
}